
<!-- =========={ FOOTER }==========  -->
<footer class="bg-gray-50 text-gray-700" id="footer">
  <!--Footer content-->
  <div id="footer-content" class="relative pt-8 xl:pt-16 pb-6 xl:pb-12">
    <div class="container xl:max-w-6xl mx-auto px-4 overflow-hidden">
      <div class="flex flex-wrap flex-row lg:justify-between -mx-3">
        <div class="flex-shrink max-w-full w-full lg:w-2/5 px-3 lg:pr-16">
          <div class="flex items-center mb-2">
            <span class="text-3xl leading-normal mb-2 font-bold text-gray-800 mt-2">Ahmed Gouiaa</span>
            <!-- <img src="src/img-min/logo.png" alt="LOGO"> -->
          </div>
          <p>Software Engineer </p>
          <ul class="space-x-3 mt-6 mb-6 Lg:mb-0">
            <!--facebook-->
            <li class="inline-block">
              <a target="_blank" class="hover:text-gray-800" rel="noopener noreferrer"
                href="https://www.facebook.com/ahmed.gouiaa.2/" title="Facebook">
                <i class="fab fa-facebook fa-2x"></i>
              </a>
            </li>

            <!--instagram-->
            <li class="inline-block">
              <a target="_blank" class="hover:text-gray-800" rel="noopener noreferrer"
                href="https://instagram.com/gouiaa.dev" title="Instagram">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </li><!--end instagram-->

            <!--Linkedin-->
            <li class="inline-block">
              <a target="_blank" class="hover:text-gray-800" rel="noopener noreferrer"
                href="https://www.linkedin.com/in/ahmedgouiaa/" title="Linkedin">
                <i class="fab fa-linkedin fa-2x"></i>
              </a>
            </li><!--end Linkedin-->
          </ul>
        </div>


        <div class="flex-shrink max-w-full w-full lg:w-3/5 px-3">
          <div class="flex flex-wrap flex-row">

            <div class="">
              <h6 class="uppercase font-semibold mb-4 flex justify-center md:justify-start">
                Contact
              </h6>
              <p class="flex items-center justify-center md:justify-start mb-4">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="home" class="w-4 mr-4" role="img"
                  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                  <path fill="currentColor"
                    d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z">
                  </path>
                </svg>
                Tunis , Tunisia , Les berges du lac, 1053
              </p>
              <p class="flex items-center justify-center md:justify-start mb-4">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="envelope" class="w-4 mr-4"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
                  </path>
                </svg>
                gouiaaahmad@gmail.com
              </p>
              <p class="flex items-center justify-center md:justify-start mb-4">
                <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="phone" class="w-4 mr-4"
                  role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                  <path fill="currentColor"
                    d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z">
                  </path>
                </svg>
                +216 25 58 33 10
              </p>

            </div>
            <div class="flex-shrink max-w-full w-1/2 md:w-1/3 mb-6 lg:mb-0">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Start footer copyright-->
  <div class="footer-dark">
    <div class="container xl:max-w-6xl mx-auto px-4 py-4 border-t border-gray-200 border-opacity-10">
      <div class="row">
        <div class="col-12 col-md text-center">
          <p class="d-block my-3">Copyright © Ahmed Gouiaa | All rights reserved.</p>
        </div>
      </div>
    </div>
  </div><!--End footer copyright-->
</footer><!-- end footer -->

<a href="#"
  class="back-top fixed p-4 rounded bg-gray-100 border border-gray-100 text-gray-500 dark:bg-gray-900 dark:border-gray-800 right-4 bottom-4 hidden"
  aria-label="Scroll To Top">
  <svg width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
    <path fill-rule="evenodd"
      d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z"
      clip-rule="evenodd"></path>
  </svg>
</a>