<!-- Container for demo purpose -->
<div id="works" class=" container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32 text-center">
  


    <!-- component1 -->
    <div class="flex flex-col justify-cente ">
      <div
        class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3   max-w-xs md:max-w-3xl mx-auto border border-white bg-white">

        <div class="w-full  md bg-white flex flex-col space-y-2 p-3">

          <h3 class="font-black text-gray-800 md:text-3xl text-xl">Ukla mobile application</h3>
          <br>
          <p class="md:text-lg text-gray-500 text-base">The main functionality of UKLA, whose idea for this project is
            starting to take shape in our minds, is the existence of a weekly meal plan; the user can add recipes to
            their plan either based on the recipes suggested by the application, which will be well-detailed (each
            recipe accompanied by a detailed video sequence, information on nutritional values, cooking and preparation
            times, a list of ingredients with the necessary quantities, and finally a descriptive section for each step
            to follow during the preparation of the recipe), or based on a recipe created by themselves. We understand
            that eating habits vary from person to person, so we have implemented an advanced recipe search based on
            various criteria (diets, allergies, cuisines, etc.).</p>

        </div>
      </div>
    </div>

    <!-- component2 -->

    <div class="flex flex-col justify-center h-screen">
      <div
        class="relative flex flex-col md:flex-row md:space-x-5 space-y-3 md:space-y-0 rounded-xl shadow-lg p-3 max-w-xs md:max-w-3xl mx-auto border border-white bg-white">
        <div class="grid grid-cols-2 gap-2">
          <div>
            <img class="h-auto max-w-full rounded-lg"
              src="../../assets/images/ukla/Confirm code.png" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
              src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
              src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg" alt="">
          </div>
          <div>
            <img class="h-auto max-w-full rounded-lg"
              src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg" alt="">
          </div>
        </div>
      </div>
    </div>





  </section>
  <!-- Section: Design Block -->
</div>
<!-- Container for demo purpose -->