

.info {
    height: 600px;
    padding: 40px  10px;
    background-color: #e5e7eb;
}
.item1 {
    background-color : rgb(161, 138, 138) ; 
    height: 350px;
}
.item2 {
     height: 350px;
     box-sizing: content-box;
}
.img-profile {
    height: auto;
     margin: 50px;
    background-color: red;

}
.image {
    max-width: 100%;
    max-height: 100%;
}
.intro {
    height: max-content;
        padding: 0 20px 50px 20px;
}


.navbar {
        margin: 0 20px 0 20px;
        
  }
  .nav-link:hover {
      color: #000000;

  }  .item:hover {
      color: #000000;

  }
.navbar-nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
 }
 .nav-item > a {
     color: #1d4ed8;
        text-decoration: none;
 }

.navbar-nav>li {
    display: inline-block;
    float: none;
    margin-right: 10px;
    text-decoration: none;
 }
.myButton {
    background-color: #e5e7eb;
    border-radius: 28px;
    border: 1px solid #1d4ed8;
    display: inline-block;
    cursor: pointer;
    color: #1d4ed8;
    font-family: Arial;
    font-size: 17px;
    padding: 5px 15px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1d4ed8;
}
.myButton:hover {
    color: #1d4ed8;
}
#main-info{
     /* width: 100%; */
     display: flex;
     
    
    
}
.cvButton {
    margin-top: 4%;
    margin-bottom: 20px;
}
.imageSectoin {
    padding: 4% 7% 2% 8%;
        flex: 40%;
        text-align: center;
}
.infoText {
    flex: 70%;
        padding: 10% 0% 0% 0%;
        text-align: center;
}
/* .main-info > div {
width: 50%;
padding: 4% 0% 1% 10%;
position: relative;
         
} */
.imageProfile {
    width: 100%;

 
}

.Title1 {
    color: rgb(0, 0, 0);
     font-size: 32px;
}
.Title2 {
    color: rgb(0, 0, 0);
     font-size: 32px;
} 
.Title3 {
        color: #1d4ed8;
        font-size: 20px;
 }
span {
    color: #1d4ed8;
    text-decoration: underline;
}
.icons {
    text-align: center;
}
.workon {
      background-color: #1d4ed8; 
    height: 700px;
    text-align: centre;
                  padding: 0 20px 50px 20px;
}



.worksection {
    background-color: #1d4ed8;
    display: flex;

}

 


@media screen and (max-width: 900px )   {
 
 

    .info {
        height: 800px;
    }
 
       .hireMe {
           visibility: hidden;
       }
 
   
       #main-info {
   
           display: contents;
   
       }
   
   
   
       .imageSectoin {
           padding: 4% 7% 2% 24%;
       }
   
       .infoText {
           padding: 10% 0% 0% 0%;
           text-align: center;
       }
   .Title1 {
       color: #000000;
       font-size: 32px;
       margin-bottom: 20px;    
   }
   
   .Title2 {
       color: #000000;
       font-size: 32px;
       margin-bottom: 20px;
   }
   
   .Title3 {
       color: #1d4ed8;
       font-size: 20px;
       margin-bottom: 20px;
   }
   
   .icons {
       text-align: center;
       margin-bottom: 20px;
   }
   .cvButton {
       margin-top: 4%;
   height: 100px; }
   
   .imageProfile {
       width: 80%;
   
   
   }
   
   
   }
   


   

@media screen and (min-width: 2000px )   {
 
 

    .info {
        height: 1500px;
    }
 
       .hireMe {
           visibility: hidden;
       }
 
   
       #main-info {
   
           display: contents;
   
       }
   
   
   
       .imageSectoin {
        padding: 6% 10% 3% 43%       }
   
       .infoText {
           padding: 10% 0% 0% 0%;
           text-align: center;
       }
   .Title1 {
       color: #000000;
       font-size: 32px;
       margin-bottom: 20px;    
   }
   
   .Title2 {
       color: #000000;
       font-size: 32px;
       margin-bottom: 20px;
   }
   
   .Title3 {
       color: #1d4ed8;
       font-size: 20px;
       margin-bottom: 20px;
   }
   
   .icons {
       text-align: center;
       margin-bottom: 20px;
   }
   .cvButton {
       margin-top: 4%;
   height: 100px; }
   
   .imageProfile {
       width: 30%;
   
   
   }
   
   
   }
   