 <!--
<section class="info">
    <div class="grid grid-cols-2 gap-2">
        <div class="item1">BIO</div>
        <div  class="item1"> 
                 <div class="img-profile">
                        <img class="image" src="../../assets/images/profile-pic (4).png" >                     
                </div>
         </div>
    </div>
</section>
-->

<!-- info section  -->
<section class="info">

<section id="main-info">
    <div class="imageSectoin">
        <img  class = "imageProfile" src="../../assets/images/pic.png" alt="">
    </div>    
    <div class="infoText">
        <h1 class="Title1">
            Hi, I am <span >  Ahmed Gouiaa</span>
                </h1>
                <h2 class="Title2">
                    Software Engenieering Student - Front End developer - content creator
                </h2>
                <h3 class="Title3">Ready to invest in new opportunities and always motivating to learn skills and face new challenges.</h3>
                 <div class="cvButton"> 
                <a href="src/cv.pdf" class="myButton" download>Download CV</a>

                </div>
                <div>
    <a href="https://www.instagram.com/gouiaa.dev/?hl=fr"><img src="src/icons/mdi_instagram.png" alt="" ></a>
    <a href=""><img src="src/icons/mdi_gmail.png" alt=""></a>
    <a href="https://www.linkedin.com/in/ahmedgouiaa/"><img src="src/icons/mdi_linkedin.png" alt=""></a>
    <a href="https://github.com/ahmedg99"><img src="src/icons/github.png" alt="" ></a>
                </div>
            </div>

</section>
</section>
 