<section class="works flex justify-center">
  <div class="flex flex-wrap">
    <!--Card 1-->
    <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="../../assets/images/Ukla - Logo - Rounded.png"
        alt="Mountain"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">UKLA Mobile application</div>
        <p class="text-gray-700 text-base">
          Design, conception and development of a mobile application for
          culinary recommendations
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Spring boot</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Flutter</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#MySQL</span
        >
      </div>
    </div>

    <!--Card 2-->
    <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="../../assets/images/comusons.png"
        alt="Mountain"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          Compusons - dynamic web application
        </div>
        <p class="text-gray-700 text-base">
          A dynamic website facilitating the integration of students into the
          'ons' campus - The application helps manage advertisements for a
          rental property
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Django</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#BootStrap</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#postgresql</span
        >
      </div>
    </div>

    <!--Card 3-->
    <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="../../assets/images/professional work start with node js.png"
        alt="Mountain"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">E-lmadrsa</div>
        <p class="text-gray-700 text-base">
          Design, conception and development of an e-learning Platform offering
          several features to facilitate the online tutorials.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Symphony</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#BootStrap</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#JAVA</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#MySQL</span
        >
      </div>
    </div>

    <!--Card 4-->
    <div class="p-2 max-w-sm rounded overflow-hidden shadow-lg">
      <img
        class="w-full"
        src="../../assets/images/unnamed.png"
        alt="Mountain"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">WELCOME TO ESPRIT</div>
        <p class="text-gray-700 text-base">
          web application that meets the standards of the modern world in terms
          of performance, reliability, security as a solution to help “ESPRIT”
          newcomers to get to know the school’s environment.
        </p>
      </div>
      <div class="px-6 pt-4 pb-2">
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Spring boot</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#Angular</span
        >
        <span
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
          >#MySQL</span
        >
      </div>
    </div>
  </div>
</section>
